@tailwind base;

@layer base {
  :root {
    --black: #000000;
    --white: #ffffff;

    --gainsboro: #dbdbdb;
    --warning: #eed202;

    --default: #000000;
    --note: #737373;

    --default-reverse: #ffffff;
    --background: #ffffff;
    --footer: #c7c7c7;
    --comment: #737373;
    --hover: #00376b;
    --nav-hover: #f2f2f2;
    --divide: #dbdbdb;

    --popover: #ffffff;
    --popover-divide: #f2f2f2;

    --story-item-bg: #fafafa;
    --story-line: #c7c7c7;

    --link: #0b0b0b;

    --nav-menu-item: #f2f2f2;

    --btn-primary: #0095f6;
    --btn-primary-hover: #1a77f2;
    --btn-danger: #ed4956;
    --btn-danger-hover: #eb8089;
    --btn-secondary: #efefef;
    --btn-secondary-hover: #dbdbdb;
    --btn-link: #0095f6;
    --btn-link-hover: #00376b;
    --btn-ghost: #161616;
    --btn-ghost-hover: #7f7f7f;

    --search-input: #efefef;

    --red: #ed4956;
    --primary: #0095f6;
    --crayola: #1a77f2;
    --philippine-gray: #8e8e8e;
    --anti-flash-gray: #f2f2f2;
    --chinese-silver: #c7c7c7;
    --bright-gray: #efefef;
    --lotion: #fafafa;
    --nickel: #737373;
    --metallic-blue: #385185;
    --dark-electric-blue: #5a6e81;
    --very-light-azure: #67b5fa;
    --chinese-black: #121212;

    --nav-medium-width: 244px;
    --nav-narrow-width: 72px;
    --feed-width-story: 630px;
    --feed-width-post: 470px;
    --feed-sidebar-width: 319px;
    --slide-panel-width: 397px;
    --desktop-home-story: 640px;

    --gradient: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
      radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
      radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
      radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
      radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
      radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
      radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
      linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
  }

  [data-theme='dark'] {
    --black: #000000;
    --white: #ffffff;

    --gainsboro: #dbdbdb;
    --warning: #eed202;

    --default: #f5f5f5;
    --note: #c7c7c7;

    --default-reverse: #000000;
    --footer: #737373;
    --background: #000000;
    --comment: #a8a8a8;
    --hover: #e0f1ff;
    --nav-hover: #1a1a1a;
    --divide: #555555;

    --popover: #262626;
    --popover-divide: #353535;

    --story-item-bg: #121212;
    --story-line: #737373;

    --link: #e0f1ff;

    --nav-menu-item: #3c3c3c;

    --btn-primary: #0095f6;
    --btn-primary-hover: #1a77f2;
    --btn-danger: #ed4956;
    --btn-danger-hover: #eb8089;
    --btn-secondary: #efefef;
    --btn-secondary-hover: #dbdbdb;
    --btn-link: #0095f6;
    --btn-link-hover: #e0f1ff;
    --btn-ghost: #f5f5f5;
    --btn-ghost-hover: #7b7b7b;

    --search-input: #262626;

    --red: #ed4956;
    --primary: #0095f6;
    --crayola: #1a77f2;
    --philippine-gray: #8e8e8e;
    --anti-flash-gray: #f2f2f2;
    --chinese-silver: #c7c7c7;
    --bright-gray: #efefef;
    --lotion: #fafafa;
    --nickel: #737373;
    --metallic-blue: #385185;
    --dark-electric-blue: #5a6e81;
    --very-light-azure: #67b5fa;
    --chinese-black: #121212;

    --nav-medium-width: 244px;
    --nav-narrow-width: 72px;
    --feed-width-story: 630px;
    --feed-width-post: 470px;
    --feed-sidebar-width: 319px;
    --slide-panel-width: 397px;
    --desktop-home-story: 640px;

    --main-gradient: linear-gradient(45deg, #ffd600, #ff7a00, #ff0069, #d300c5, #7638fa);
    --gradient: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
      radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
      radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
      radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
      radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
      radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
      radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
      linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
  }

  body {
    margin: 0;
    position: relative;
    color: var(--text);
    min-height: 100%;
    height: 100%;
    font-feature-settings: 'kern';
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
  }

  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    /* border-color: var(--light-blue); */
    border-width: 1px;
    border-radius: 0px;
    padding-top: 0.5rem;
    padding-right: 0.75rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    font-size: 1rem;
    line-height: 1.5rem;
    transition: all 0.3s ease;
    &::placeholder {
      /* color: var(--dark-gray); */
    }
  }

  [type='text']:focus,
  [type='email']:focus,
  [type='url']:focus,
  [type='password']:focus,
  [type='number']:focus,
  [type='date']:focus,
  [type='datetime-local']:focus,
  [type='month']:focus,
  [type='search']:focus,
  [type='tel']:focus,
  [type='time']:focus,
  [type='week']:focus,
  [multiple]:focus,
  textarea:focus,
  select:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    /* box-shadow: var(--typing-shadow);
    border-color: var(--text); */
  }
}

a {
  text-decoration: none;
  color: #1c83fc;
}

input:focus-visible {
  outline: none;
}

input:checked + span {
  /* @apply border-light-gray-4; */
}
input:checked + span svg {
  @apply block;
}

.react-slideshow-container .nav:first-of-type {
  left: 20px;
}

.react-slideshow-container .nav:last-of-type {
  right: 20px;
}

@keyframes slide-out-right {
  from {
    left: -180px;
  }
  to {
    left: var(--nav-narrow-width);
  }
}

@keyframes slide-back-right {
  from {
    left: var(--nav-narrow-width);
  }
  to {
    /* left: -180px; */
    left: -259px;
  }
}
