@tailwind base;

@layer base {
  :root {
    --black: #000000;
    --white: #ffffff;
    --black-alpha-05: rgba(0, 0, 0, 0.05);
    --black-alpha-10: rgba(0, 0, 0, 0.1);
    --black-alpha-15: rgba(0, 0, 0, 0.15);
    --black-alpha-20: rgba(0, 0, 0, 0.2);
    --black-alpha-30: rgba(0, 0, 0, 0.3);
    --black-alpha-40: rgba(0, 0, 0, 0.4);
    --black-alpha-50: rgba(0, 0, 0, 0.5);
    --black-alpha-60: rgba(0, 0, 0, 0.6);
    --black-alpha-80: rgba(0, 0, 0, 0.8);
    --blue-05: #ecf3ff;
    --blue-30: #aac9ff;
    --blue-40: #77a7ff;
    --blue-60: #1877f2;
    --blue-70: #2851a3;
    --blue-80: #1d3c78;
    --button-text: #444950;
    --comment-background: #f2f3f5;
    --dark-mode-gray-35: #cccccc;
    --dark-mode-gray-50: #828282;
    --dark-mode-gray-70: #4a4a4a;
    --dark-mode-gray-80: #373737;
    --dark-mode-gray-90: #282828;
    --dark-mode-gray-100: #1c1c1c;
    --gray-00: #f5f6f7;
    --gray-05: #f2f3f5;
    --gray-10: #ebedf0;
    --gray-20: #dadde1;
    --gray-25: #ccd0d5;
    --gray-30: #bec3c9;
    --gray-45: #8d949e;
    --gray-70: #606770;
    --gray-80: #444950;
    --gray-90: #303338;
    --gray-100: #1c1e21;
    --green-55: #00a400;
    --highlight: #3578e5;
    --highlight-cell-background: #ecf3ff;
    --primary-icon: #1c1e21;
    --primary-text: #1c1e21;
    --red-55: #fa383e;
    --soft: cubic-bezier(0.08, 0.52, 0.52, 1);
    --spectrum-aluminum-tint-70: #e4f0f6;
    --spectrum-blue-gray-tint-70: #cfd1d5;
    --spectrum-cherry: #f35369;
    --spectrum-cherry-tint-70: #fbccd2;
    --spectrum-grape-tint-70: #ddd5f0;
    --spectrum-grape-tint-90: #f4f1fa;
    --spectrum-lemon-dark-1: #f5c33b;
    --spectrum-lemon-tint-70: #fef2d1;
    --spectrum-lime: #a3ce71;
    --spectrum-lime-tint-70: #e4f0d5;
    --spectrum-orange-tint-70: #fcdec5;
    --spectrum-orange-tint-90: #fef4ec;
    --spectrum-seafoam-tint-70: #caeef9;
    --spectrum-slate-dark-2: #89a1ac;
    --spectrum-slate-tint-70: #eaeff2;
    --spectrum-teal: #6bcebb;
    --spectrum-teal-dark-1: #4dbba6;
    --spectrum-teal-dark-2: #31a38d;
    --spectrum-teal-tint-70: #d2f0ea;
    --spectrum-teal-tint-90: #f0faf8;
    --spectrum-tomato: #fb724b;
    --spectrum-tomato-tint-30: #f38e7b;
    --spectrum-tomato-tint-90: #fdefed;

    --base-blue: #1877f2;
    --base-cherry: #f3425f;
    --base-grape: #9360f7;
    --base-lemon: #f7b928;
    --base-lime: #45bd62;
    --base-pink: #ff66bf;
    --base-seafoam: #54c7ec;
    --base-teal: #2abba7;
    --base-tomato: #fb724b;
  }

  body {
    margin: 0;
    position: relative;
    color: var(--black);
    min-height: 100%;
    height: 100%;
    font-feature-settings: 'kern';
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
  }

  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border-color: var(--light-blue);
    border-width: 1px;
    border-radius: 0px;
    padding-top: 0.5rem;
    padding-right: 0.75rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    font-size: 1rem;
    line-height: 1.5rem;
    transition: all 0.3s ease;
    &::placeholder {
      color: var(--dark-gray);
    }
  }

  [type='text']:focus,
  [type='email']:focus,
  [type='url']:focus,
  [type='password']:focus,
  [type='number']:focus,
  [type='date']:focus,
  [type='datetime-local']:focus,
  [type='month']:focus,
  [type='search']:focus,
  [type='tel']:focus,
  [type='time']:focus,
  [type='week']:focus,
  [multiple]:focus,
  textarea:focus,
  select:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    box-shadow: var(--typing-shadow);
    border-color: var(--primary);
  }
}

a {
  text-decoration: none;
  color: #1c83fc;
}

input:focus-visible {
  outline: none;
}

input:checked + span {
  @apply border-light-gray-4;
}
input:checked + span svg {
  @apply block;
}
